{% extends 'flatpages/default.html' %}

{% block title %}
    <title>Удаление поста</title>
{% endblock title %}
{% block content %}
    <h2 style="margin-left:auto;margin-right:auto;">Удалить этот пост?</h2>
        <div class="container">
            <h1 class="text-center">{{ post.title }}</h1>
            <p>{{ post.time_create|date:'j F Y'}}</p>
            <p>{{ post.content|linebreaks}}<p>
        </div>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Подтвердить">
    </form>
{% endblock content %}